body {
  background-color:#79827F;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

.nav-list {
  font-size: 20px;
  color:#FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#1f2926;
  display: flex;
}

ul li a {
  display: block;
  color: #FFFFFF;     
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #37544c;    
}

.hero-content h1 {
  font-size: 60px;    
  text-align: center;
  color:#FFFFFF;
  margin: 70px 10px 10px 10px;
}

.hero-content h3 {
  font-size: 22px;
  text-align: center;
  color:#FFFFFF;
  margin: 30px 10px 90px 10px;
}

.formulario {
    font-size: 18px;
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px; 
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 40px 250px 60px 250px;
    background-color:#f5f2f2;
}

.formulario h2 {
    font-size: 30px;
    text-align: left;
    margin: 15px;
}

.formulario p {
    font-size: 20px;
    text-align: left;
    margin: 15px;
}

label {
   font-size: 18px;
   margin: 15px 10px 10px 15px;
}

input {
    font-size: 16px;    
    width: 90%; 
    max-width: 700px;
    height: 25px;
    border: 2px solid #37544c; 
    border-radius: 6px;
    margin: 15px 10px 20px 15px;
    display: block;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    background-color: #c7e8de;
}

#assunto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: center;
    width: 180px;
    height: 30px;
    border: 2px solid #37544c;
    border-radius: 6px;
    margin: 15px 10px 20px 15px;
    display: block;
}

#mensagem {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    width: 90%;
    max-width: 700px;
    height: 150px;
    border: 2px solid #37544c;
    border-radius: 6px;
    margin: 15px 10px 10px 15px;
}

#mensagem:focus {
    background-color: #c7e8de;
    border-color: #2ecc71; 
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  background-color:#35705d;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 15px 10px 10px 15px;
}

button:hover {
box-shadow:0 8px 16px 0 #42655b;
}

#canais-comunicacao {
    font-size: 18px;
}

#canais-comunicacao h2 {
    font-size: 40px;
    text-align: center;
    margin: 80px 10px 80px 10px;
    color: #FFFFFF;
}

#vendas {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px; 
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 40px 250px 60px 250px;
    background-color:#f5f2f2;
}

#suporte {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px; 
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 40px 250px 60px 250px;
    background-color:#f5f2f2;
}

#endereco {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px; 
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 40px 250px 60px 250px;
    background-color:#f5f2f2;
}

#atendimento {
    font-size: 18px;
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px; 
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 40px 250px 130px 250px;
    background-color:#f5f2f2;
}

#atendimento h2 {
    font-size: 20px;
}

.rodape { 
  color:#FFFFFF;
  text-align: left;
  overflow: hidden;
  background-color: #1f2926;
  padding: 25px 50px;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
  text-align: left;
}

.rodape h3 {
  font-size: 20px;
  color: #67e3bc;
  text-align: left;
  margin: 15px;
}

.rodape h4 {
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  margin: 20px 980px 20px 15px;
}

address {
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  margin: 20px 0px 10px 15px;
}

.footer-links {
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  margin: 0px 50px 10px 0px;
}

.direitos {
  font-size: 15px;
  color: #FFFFFF;
  text-align: left;
  margin: 15px;
}
