:root {
    --cor-de-fundo: #868686;
}

/* Estilização Global Acima */
/* Cores de páginas especificas, ficará abaixo */

/* Catalogo - INICIO */
/* Catalogo - FIM */

/* Contato - INICIO */
/* Contato - FIM */

/* FAQ - INICIO */
/* FAQ - FIM */

/* Home - INICIO */
/* Home - FIM */

/* Login - INICIO */
/* Login - FIM */

/* Planos - INICIO */
/* Planos - FIM */

/* Politica De Privacidade - INICIO */
/* Politica De Privacidade - FIM */

/* SobreNos - INICIO */
.page-sobrenos {
    /* Isso ativa a rolagem suave para links de âncora */
    scroll-behavior: smooth;
}

.page-sobrenos {
    background-color: #79827F;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.page-sobrenos .main-header {
    background-image: linear-gradient(rgba(42, 40, 48, 0.8), rgba(42, 40, 48, 0.8)), url('corporativo.jpg');
    background-position: center;
    background-size: cover;
    min-height: 720px;
}

.page-sobrenos .nav-list {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.page-sobrenos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f2926;
}

.page-sobrenos ul li {
    float: left;
}

.page-sobrenos ul li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.page-sobrenos ul li a:hover {
    background-color: #37544c;
}

.page-sobrenos .hero-content h1 {
    font-size: 85px;
    text-align: center;
    color: #79827F;
    margin-bottom: auto;
}

.page-sobrenos .hero-header {
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 140px 140px 140px 140px;
}

.page-sobrenos .intro-text {
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 250px 0px 250px;
}

.page-sobrenos .solucao {
    margin: 55px 0px 10px 0px;
    background-color: #35705d;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
}

.page-sobrenos .solucao:hover {
    box-shadow: 0 8px 16px 0 #42655b;
}

.page-sobrenos .gestao {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.page-sobrenos .vantagens {
    font-size: 18px;
    text-align: center;
    color: #79827F;
    margin-top: 10px;
}

.page-sobrenos #historia h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 80px;
}

.page-sobrenos #historia h3 {
    font-size: 28px;
    color: #242424;
    text-align: center;
}

.page-sobrenos .conteudo-historia {
    font-size: 24px;
    color: #FFFFFF;
    text-align: justify;
    display: flex;
    /* Ativa o Flexbox para alinhar os filhos (div.texto e img) */
    flex-direction: row;
    /* Garante que os itens se alinhem na linha, com o texto à esquerda e a imagem à direita */
    justify-content: space-between;
    /* Distribui o espaço entre o texto e a imagem (opcional, dependendo do design) */
    align-items: center;
    /* Alinha verticalmente os itens no centro, caso tenham alturas diferentes */
    padding: 20px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    margin: 10px 120px 40px 120px;
}

.page-sobrenos .conteudo-historia .texto {
    flex: 1;
    /* Ocupa o espaço restante */
    max-width: 50%;
    /* Define a largura máxima para que o texto não fique muito longo */
    padding-right: 20px;
    min-width: 300px;
    /* Define um mínimo de largura para evitar que o texto fique muito espremido em telas pequenas */
}

.page-sobrenos .conteudo-historia img {
    max-width: 70%;
    /* Define a largura máxima da imagem, por exemplo, 40% do contêiner */
    height: auto;
    /* Garante que a imagem seja responsiva */
    flex-shrink: 0;
    /* Evita que a imagem encolha se houver mais espaço no contêiner */
    border-style: solid;
    border-width: 2px;
    border-color: #67e3bc;
    border-radius: 15px;
}

.page-sobrenos #missao {
    border-style: solid;
    border-width: 2px;
    border-color: #67e3bc;
    border-radius: 10px;
    background-color: #1f2926;
    padding: 20px 0;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    margin: 10px 120px 40px 120px;
}

.page-sobrenos #missao h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-sobrenos #missao p {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin: 10px 120px 40px 120px;
}

.page-sobrenos .slogan {
    font-size: 20px;
    color: #6ca090;
    text-align: center;
    margin: 10px 120px 40px 120px;
    padding: 0 20px;
}

.page-sobrenos #diferenciais {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin: 10px 180px 30px 180px;
}

.page-sobrenos #diferenciais h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.page-sobrenos .foco {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.page-sobrenos #diferenciais p {
    font-size: 21px;
    color: #FFFFFF;
    text-align: justify;
}

.page-sobrenos #design {
    border-style: solid;
    border-width: 2px 2px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 60px 0px 60px 0px;
    background-color: #1f2926;
}

.page-sobrenos #tecnologia {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 60px 0px 60px 0px;
    background-color: #1f2926;
}

.page-sobrenos #conexao {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 25px 50px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 60px 0px 60px 0px;
    background-color: #1f2926;
}

.page-sobrenos #valores h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.page-sobrenos #valores h3 {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.page-sobrenos #valores p {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}

.page-sobrenos .pilares {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.page-sobrenos #paixao {
    border-style: solid;
    border-width: 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 20px 35px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 10px;
    background-color: #1f2926;
}

.page-sobrenos #paixao h3 {
    text-align: left;
}

.page-sobrenos #excelencia {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 20px 35px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 10px;
    background-color: #1f2926;
}

.page-sobrenos #excelencia h3 {
    text-align: left;
}

.page-sobrenos #inovacao {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 20px 35px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 10px;
    background-color: #1f2926;
}

.page-sobrenos #inovacao h3 {
    text-align: left;
}

.page-sobrenos #transparencia {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    padding: 20px 35px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    text-align: left;
    margin: 10px;
    background-color: #1f2926;
}

.page-sobrenos #transparencia h3 {
    text-align: left;
}

.page-sobrenos #cta-final {
    border-style: solid;
    border-width: 1px;
    border-color: #67e3bc;
    border-radius: 10px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores (muito recomendado para responsividade) */
    margin: 60px 250px 60px 250px;
    padding: 10px 0px;
    text-align: center;
    background-color: #1f2926;
}

.page-sobrenos #cta-final h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 60px 150px 30px 150px;
}

.page-sobrenos #cta-final p {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin: 10px 180px 30px 180px;
}

.page-sobrenos .dados {
    font-size: 1px;
    color: #FFFFFF;
    text-align: center;
    margin: 10px 180px 40px 180px;
}

/* SobreNos - FIM */

/* Suporte - INICIO */
/* Suporte - FIM */

/* Termos De Uso - INICIO */
/* Termos De Uso - FIM */

/* Trabalhe Conosco - INICIO. */
/* Trabalhe Conosco - FIM */